.sizeItems{
    @include styleButton(30px,30px,none,1px solid #ececec,$primary-color);
    border-radius: 50%;
    &:hover{
        color: #ececec;
        
    }
}
.active{
    background-color: $primary-color;
    color: #ececec;
}
#minus, #plus{
    @include styleButton(35px,35px,none,1px solid #ececec,$primary-color);
}
.addProduct{
    @include styleButton(280px,50px,$primary-color,1px solid transparent,$primary-color);
    transition: all 0.5s;
    border-radius: 10px;
    &:hover{
        color: #ececec;
    }
}