// Reset code for entire website
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Nunito Sans', sans-serif;
    //g·ªçi mixin
    @include styleText($color-dark-1,$fs-1,$fw-1);

    background-color:$color-white-1;
}