.carouselPhone{

    // đường dẫn phải viết theo vị trí của file css
    background-image: url(../img/product-header-bg.jpg);
    background-size: cover;
    background-position: center bottom;
    padding: $pd-2;
}